version: "3.7"

services:
  mysql:
    image: mysql
    ports:
    - "3306:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=todo
    volumes:
      - ".:/docker-entrypoint-initdb.d:ro"
